<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID19 in India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

<nav class="grey darken-4">

    <div class="container">
        <a href="{%url 'home'%}" class="brand-logo">COVID19 In India</a>


    </div>
</nav>

<!--<h1 style="text-align:center;" class="amber-text "> What Do You Want to Search </h1>-->
<br>
<br>
<div class="container">



    <div class="row">

        <div class="col s6">

            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <i class="medium material-icons light-blue-text">assignment_turned_in</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Confirmed Cases<i class="material-icons right">more_vert</i></span>

                <p>{{c}}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Confirmed Cases<i class="material-icons right">close</i></span>
                <p>Coronavirus is not the name of a single virus. Coronaviruses are a family of respiratory viruses, named for the crown-like spikes on their surface and Total confirmed case are {{c}}</p>
              </div>
            </div>
        </div>

         <div class="col s6">

            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <i class="medium material-icons light-blue-text">accessibility</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Recovered Cases<i class="material-icons right">more_vert</i></span>

                <p>{{r}}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Recovered Cases<i class="material-icons right">close</i></span>
                <p>Doctors are finding antibodies in ill and recovered patients, and that indicates the development of immunity and total recovered cases are{{r}}</p>
              </div>
            </div>
        </div>

         <div class="col s6">

            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <i class="medium material-icons light-blue-text">accessible</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Active cases<i class="material-icons right">more_vert</i></span>

                <p>{{a}}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Active cases<i class="material-icons right">close</i></span>
                <p>The disease can spread from person to person through small droplets from the nose or mouth when a person with COVID-19 coughs or exhales and total active case are {{a}}</p>
              </div>
            </div>
        </div>

         <div class="col s6">

            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <i class="medium material-icons light-blue-text">access_time</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Deaths <i class="material-icons right">more_vert</i></span>

                <p>{{d}}</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Deaths <i class="material-icons right">close</i></span>
                <p>India's coronavirus death toll overtakes that of China and Total death case are {{c}}</p>
              </div>
            </div>
        </div>



    </div>

    <div class="row">

            <div class="input-field col s8" >
                <input type="text" name="search" placeholder="Search State" id="input_text">

            </div>
            <div class="input-field col s3">
                 <button class="btn waves-effect amber"  type="submit" name="action"  onclick="mySearchFunction()">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>


    </div>

    <div class="row">
        <table id="myTable">
            <thead>
            <tr>
                <th>State/Union Territory</th>
                <th>Cases</th>
                <th>Deaths</th>
                <th>Recoveries</th>
                <th>Active</th>
            </tr>
            </thead>

            <tbody>
            {% for key,val in row.items %}

                <tr>
                    <td>{{key}}</td>
                     {% for i in val %}
                            <td>{{i}}</td>
                    {%endfor%}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        function mySearchFunction(){

            var input_text = document.getElementById("input_text");
            var filter = input_text.value.toUpperCase();
            var table = document.getElementById("myTable");
            var tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];

                if (td) {
                    txtValue = td.textContent || td.innerText;

                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
            }
        }
    </script>
</div>
</body>
</html>